img/

**/.venv/
**/venv/
**/.ipynb_checkpoints/
**/__pycache__/
**/c_generated_code/
**/src/trajectory_generation/waypoints/
**/src/trajectory_generation/trajectories/
**/src/trajectory_generation/polynomial_trajectory/
